html {
  font-family: 'Helvetica Neue',Helvetica, sans-serif;
  background-image:linear-gradient(-45deg, #FBC59D, #B7CBEA);
}
*{
  padding: 0;
  margin: 0;
}
header {
  height: 790px;
  width: 1440px;
  background: url('../images/header.png');
  text-align: left;
  margin-bottom: 0px;
}
 header h1 {
   margin-top: 60px;
   margin-left: 60px;
   font-size: 70px;
 }

 header h3 {
   width: 200px;
   height: 40px;
   padding-top: 60px;
   margin-left: 60px;
   font-size: 30px;
 }

 header p {
   margin-left: 65px;
   margin-top: 20px;
   opacity: 0.7;
   font-size: 20px;
   width: 400px;
}


input {
  display: block;
  float: left;
  width: 420px;
  height: 35px;
  padding: 0px 0px 0px 10px;
  margin: 10px 10px 0px 0px;
  font-size: 18px;
  font-weight: 500;
  border: 4px solid white;
  border-radius: 20px;
}
header button{
  display: block;
  float:right;
  width: 50px;
  height: 35px;
  margin: -39px -30px 0px 0px;
  padding-top: 2px;
  font-size: 18px;
  font-weight: 550;
  color: #4C4C4C;
  background-color: #FBC59D;
  border: 4px solid white;
  border-radius: 20px;
}

div{
  margin: 20px 40px 20px 190px;
  background-image: linear-gradient(-45deg, #FDF3E5, #EEF2FC);
  height: 480px;
  width: 1060px;
  border-radius: 5px;
}
article button {
  display: block;
  float: left;
  font-size: 16px;
  font-weight: bold;
  padding: 4px 4px 4px 4px;
  border-radius: 2px;
  margin: 220px 20px 10px 10px;
  background-color: gold;
  border: 1px solid gold;
  height: 40px;
  width: 120px;
  opacity: 0.8;
}

article.intern h3{
  margin: 10px 10px 10px 10px;
  padding: 10px 20px 10px 10px;
  width: 100px;
  text-align: center;
  color: black;
  background-color: #ffffff;
  font-size: 32px;
  opacity: 0.75;
  border-radius: 60px;
}


article.volunteer h3{
  margin: 10px 10px 10px 10px;
  padding: 10px 20px 10px 10px;
  width: 140px;
  text-align: center;
  color: black;
  background-color: #ffffff;
  font-size: 32px;
  opacity: 0.75;
  border-radius: 60px;
}

article.teach h3{
  margin: 10px 10px 10px 10px;
  padding: 10px 20px 10px 10px;
  width: 100px;
  text-align: center;
  color: black;
  background-color: #ffffff;
  font-size: 32px;
  opacity: 0.75;
  border-radius: 60px;
}

article.study h3{
  margin: 10px 10px 10px 10px;
  padding: 10px 20px 10px 10px;
  width: 100px;
  text-align: center;
  color: black;
  background-color: #ffffff;
  font-size: 32px;
  opacity: 0.75;
  border-radius: 60px;
}

article.summer h3{
  margin: 10px 10px 10px 10px;
  padding: 10px 20px 10px 10px;
  width: 230px;
  text-align: center;
  color: black;
  background-color: #ffffff;
  font-size: 32px;
  opacity: 0.75;
  border-radius: 60px;
}

article p.description{
  float: right;
  margin: 170px 10px 10px 0px;
  padding: 10px 10px 0px 10px;
  border-radius: 5px;
  width: 180px;
  height: 80px;
  background-color: white;
  text-align: left;
  font-size: 18px;
  font-weight: 450;
  opacity: 0.7
}
article.intern p.details{
  display: block;
  margin: 5px 1px 10px 10px;
  float: left;
  font-weight: 450;
  opacity: 0.7;
}

article.volunteer p.details{
  display: block;
  margin: 10px 215px 10px 10px;
  float: right;
  font-weight: 450;
  opacity: 0.7;
}

article.teach p.details{
  display: block;
  margin: 5px 1px 10px 10px;
  float: left;
  font-weight: 450;
  opacity: 0.7;
}

article.study p.details{
  display: block;
  margin: 5px 1px 10px 10px;
  float: left;
  font-weight: 450;
  opacity: 0.7;
}

article.summer p.details{
  display: block;
  margin: 5px 1px 10px 10px;
  float: left;
  font-weight: 450;
  opacity: 0.7;
}


 .missioncontent {
   color: black;
   opacity: 0.7;
   font-size: 20px;
   font-weight: 450;
   height: 10px;
   width: 1000px;
   margin-left: 15%;
   padding-top: 5px;
}
 .missiontitle {
   width: 300px;
   font-size: 24px;
   padding-top: 15px;
   padding-bottom:2px;
   margin-top: 0px;
   margin-bottom: 5px;
   margin-left: 570px;
   font-style: normal;
   font-weight: 500;
   opacity: 0.7;
   border-bottom: 0.5px solid #B4AFAF;
 }

 .mission {
   margin-bottom: 0px;
   margin-left: 0px;
   margin-top: 0px;
   width: 100%;
   height: 150px;
   text-align: center;
   background-color: white;
   opacity: 0.5;
 }
 .getstarted {
   width: 74%;
   margin-top: 40px;
   margin-left: 13%;
   margin-bottom: 20px;
   text-align: center;
   font-size: 24px;
   padding-top: 10px;
   padding-bottom: 10px;
   /*border-top: 0.5px solid #B4AFAF;
   border-bottom: 0.5px solid #B4AFAF*/
   border-radius: 30px;
   background-color: white;
   opacity: 0.7;
 }

 .intern{
   display: block;
   float: left;
   margin: 10px 0px 0px 10px;
   background: url('../images/intern.png');
   height: 345px;
   width: 500px;
   border: 5px solid #F1F1F1;
   border-radius: 10px;
   opacity: 1;
 }
 .volunteer{
   display: block;
   float: right;
   margin: 10px 10px 0px 0px;
   background: url('../images/volunteer.jpg');
   height: 345px;
   width: 500px;
   border: 5px solid #F1F1F1;
   border-radius: 10px;
 }
 .teach{
   display: block;
   float: left;
   margin: 10px 0px 0px 10px;
   background: url('../images/teach.jpg');
   height: 345px;
   width: 500px;
   border: 5px solid #F1F1F1;
   border-radius: 10px;
   opacity: 1;
 }
 .study{
   display: block;
   float: left;
   margin: 10px 0px 0px 10px;
   background: url('../images/study.jpg');
   height: 345px;
   width: 500px;
   border: 5px solid #F1F1F1;
   border-radius: 10px;
   opacity: 1;
 }
 .summer{
   display: block;
   float: left;
   margin: 10px 0px 0px 10px;
   background: url('../images/summer.jpg');
   height: 345px;
   width: 500px;
   border: 5px solid #F1F1F1;
   border-radius: 10px;
   opacity: 1;
 }
